<main>
    <div class="container-fluid px-4">
        <%= render 'admin/dashboard/shared/head_title' %>
        <%= render 'admin/dashboard/shared/project_card' %>
        <div class="row">
            <%= render 'admin/dashboard/shared/area_chart' %>
            <%= render 'admin/dashboard/shared/bar_chart' %>
        </div>
        <%= render 'admin/dashboard/shared/datatable_example' %>
    </div>
</main>